In [21]:
import mysql.connector as connection
import pandas as pd
import numpy as np

In [22]:
try:
    db = connection.connect(host="localhost", database="DPSB", user="root", password="a21305556699", use_pure=True)
    query = "SELECT Services, Bureaux, MO, Ssect, CAS, COUNT(*) AS NOMBRE FROM BASE GROUP BY Services, Bureaux, MO, Ssect, CAS;"
    df = pd.read_sql(query, db)
    db.close()
except Exception as e:
    db.close()
    print(str(e))

In [23]:
df

   Services   Bureaux      MO  Ssect    CAS  NOMBRE
0       SDH     NAIMA    DEDU     62    145      46
1       SDH     NAIMA     DEP     62    116       3
2       SDH     NAIMA     DEP     62  116L5      18
3       SDH     NAIMA     DEP     62    145     138
4       SDH     NAIMA     DEP     63    145       1
5       SDH     NAIMA     DEP     64    116       1
6       SDH     NAIMA     DEP     64    145      17
7       SDH     NAIMA     DFP     63    116       2
8       SDH     NAIMA     DFP     63    145      18
9       SDH     NAIMA     DSP     63    145       1
10      SDH     NAIMA    duac     62    145       1
11      SDH     SAYED     CFr     34    145      20
12      SDH     SAYED     DAL     82    145       2
13      SDH     SAYED     DAS     76    145       2
14      SDH     SAYED  Dcultr     75    145      16
15      SDH     SAYED     DEP     75    145       1
16      SDH     SAYED     DEP     81    145       2
17      SDH     SAYED     DEP     82    145       5
18      SDH     SAYED     DFP     82    145       3
19      SDH     SAYED     DIM     17    145       2
20      SDH     SAYED   DTrsm     42    145       6
21      SDH     SAYED    duac     81  116L5       2
22      SDH  SOUHAILA     DEP     72    116       1
23      SDH  SOUHAILA     DEP     72    145       4
24      SDH  SOUHAILA     DEP     73    116       1
25      SDH  SOUHAILA     DEP     73  116L5       9
26      SDH  SOUHAILA     DEP     73    145       9
27      SDH  SOUHAILA     DJS     74    116       2
28      SDH  SOUHAILA     DJS     74    145      36
29      SDH  SOUHAILA     DSP     73    116       6
30      SDH  SOUHAILA     DSP     73  116L5       2
31      SDH  SOUHAILA     DSP     73    145      33
32      SDI    NABILA     CFr     57    145       1
33      SDI    NABILA     DAL     17    145       1
34      SDI    NABILA     DAL     57    145      23
35      SDI    NABILA    DCmr     57    145       1
36      SDI    NABILA  Dcultr     57    145       1
37      SDI    NABILA   DEnvr     36    116       2
38      SDI    NABILA   DEnvr     36    145       1
39      SDI    NABILA     dep     57    116       3
40      SDI    NABILA     DEP     57    145      11
41      SDI    NABILA      DI     57    145       4
42      SDI    NABILA     DPc     57    145       1
43      SDI    NABILA     DRE     32  116L5       2
44      SDI    NABILA     DRE     32    145      32
45      SDI    NABILA     DRE     33  116L5       2
46      SDI    NABILA     DRE     33    145       7
47      SDI    NABILA     DRE     57    145       3
48      SDI    NABILA     DSA     57    145       3
49      SDI    NABILA     DSP     57    145       3
50      SDI    NABILA   DTrsm     57    145       1
51      SDI    NABILA    duac     72    145       1
52      SDI    OUALID    DCmr     46    145       2
53      SDI    OUALID     DTP     52    145       6
54      SDI    OUALID   DTrsp     43    116       2
55      SDI    OUALID   DTrsp     43    145       4

In [24]:
res = df.pivot(index="Bureaux", columns=["Services", "MO", "Ssect", "CAS"], values="NOMBRE")
pd.set_option('display.float_format', lambda x: '%.0f' % x)
res = res.replace(np.nan, 0)
res

Services  SDH                                        ... SDI              \
MO       DEDU DEP                       DFP     DSP  ... DRE     DSA DSP
Ssect      62  62            63  64      63      63  ...  33  57  57  57
CAS       145 116 116L5 145 145 116 145 116 145 145  ... 145 145 145 145
Bureaux                                              ...
NABILA      0   0     0   0   0   0   0   0   0   0  ...   7   3   3   3
NAIMA      46   3    18 138   1   1  17   2  18   1  ...   0   0   0   0
OUALID      0   0     0   0   0   0   0   0   0   0  ...   0   0   0   0
SAYED       0   0     0   0   0   0   0   0   0   0  ...   0   0   0   0
SOUHAILA    0   0     0   0   0   0   0   0   0   0  ...   0   0   0   0

Services
MO       DTrsm duac DCmr DTP DTrsp
Ssect       57   72   46  52    43
CAS        145  145  145 145   116 145
Bureaux
NABILA       1    1    0   0     0   0
NAIMA        0    0    0   0     0   0
OUALID       0    0    2   6     2   4
SAYED        0    0    0   0     0   0
SOUHAILA     0    0    0   0     0   0

[5 rows x 56 columns]

In [28]:
SDH = res["SDH"]
SDH

MO       DEDU DEP                       DFP     DSP  ... DEP                \
Ssect      62  62            63  64      63      63  ...  72      73
CAS       145 116 116L5 145 145 116 145 116 145 145  ... 116 145 116 116L5
Bureaux                                              ...
NABILA      0   0     0   0   0   0   0   0   0   0  ...   0   0   0     0
NAIMA      46   3    18 138   1   1  17   2  18   1  ...   0   0   0     0
OUALID      0   0     0   0   0   0   0   0   0   0  ...   0   0   0     0
SAYED       0   0     0   0   0   0   0   0   0   0  ...   0   0   0     0
SOUHAILA    0   0     0   0   0   0   0   0   0   0  ...   1   4   1     9

MO           DJS     DSP
Ssect         74      73
CAS      145 116 145 116 116L5 145
Bureaux
NABILA     0   0   0   0     0   0
NAIMA      0   0   0   0     0   0
OUALID     0   0   0   0     0   0
SAYED      0   0   0   0     0   0
SOUHAILA   9   2  36   6     2  33

[5 rows x 32 columns]

In [29]:
SDI = res["SDI"]
SDI

MO       CFr DAL     DCmr Dcultr DEnvr     dep DEP  DI  ... DRE     DSA DSP  \
Ssect     57  17  57   57     57    36      57  57  57  ...  33  57  57  57
CAS      145 145 145  145    145   116 145 116 145 145  ... 145 145 145 145
Bureaux                                                 ...
NABILA     1   1  23    1      1     2   1   3  11   4  ...   7   3   3   3
NAIMA      0   0   0    0      0     0   0   0   0   0  ...   0   0   0   0
OUALID     0   0   0    0      0     0   0   0   0   0  ...   0   0   0   0
SAYED      0   0   0    0      0     0   0   0   0   0  ...   0   0   0   0
SOUHAILA   0   0   0    0      0     0   0   0   0   0  ...   0   0   0   0

MO       DTrsm duac DCmr DTP DTrsp
Ssect       57   72   46  52    43
CAS        145  145  145 145   116 145
Bureaux
NABILA       1    1    0   0     0   0
NAIMA        0    0    0   0     0   0
OUALID       0    0    2   6     2   4
SAYED        0    0    0   0     0   0
SOUHAILA     0    0    0   0     0   0

[5 rows x 24 columns]

In [30]:
TOTAL_SDH = SDH.sum(axis=1)
TOTAL_SDH.name = "TOTAL"
#res = [res, TOTAL]
#res = pd.concat(res, axis=1)
#res
TOTAL_SDH

Bureaux
NABILA       0
NAIMA      246
OUALID       0
SAYED       61
SOUHAILA   103
Name: TOTAL, dtype: float64

In [31]:
TOTAL_SDI = SDI.sum(axis=1)
TOTAL_SDI.name = "TOTAL"
#res = [res, TOTAL]
#res = pd.concat(res, axis=1)
#res
TOTAL_SDI

Bureaux
NABILA     103
NAIMA        0
OUALID      14
SAYED        0
SOUHAILA     0
Name: TOTAL, dtype: float64

In [26]:
res.to_excel("/home/zuhir/Documents/Bureaux.xlsx")