In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
pd.set_option('display.float_format', lambda x: '%.0f' % x)

In [3]:
try:
    engine = create_engine("mysql+pymysql://root:a21305556699@localhost:3306/DPSB", echo=False)
    query = """
    SELECT Localisation, MO, COUNT(*) AS "COUNT",SUM(APA) AS "SUM"
    FROM OPERATIONS
    WHERE Localisation IS NOT NULL
    GROUP BY Localisation, MO
    """
    df = pd.read_sql(query, engine)
except Exception as e:
    engine.close()
    print(str(e))
df

,Localisation,MO,COUNT,SUM
0,,DFP,1,26000000
1,AIN-SOLTANE,DEW,1,1350000
2,AIN-SOLTANE AIN-ZANA DREA HEDDADA HENANCHA KHE...,DCUL,1,220000000
3,AIN-SOLTANE AIN-ZANA DREA M'DAOUROUCH TIFFECH,CFORETS,1,40000000
4,AIN-SOLTANE AIN-ZANA HEDDADA KHEMISSA TERREGUELT,DRE,1,500000000
...,...,...,...,...
219,TIFFECH,DEW,1,9500000
220,TIFFECH,DRE,1,140000000
221,ZAAROURIA,DAL,1,50000000
222,ZAAROURIA,DEP,4,72400000
223,ZAAROURIA,DFP,2,410000000

In [4]:
df["LOT"] = df["SUM"] / (df["Localisation"].str.count(" ") + 1)

In [5]:
locals = set()
for local in df["Localisation"]:
    for loc in local.split():
        locals.add(loc)

In [6]:
lots = list()
counts = list()
counts
for loc in sorted(locals):
    res = df[df["Localisation"].str.contains(loc) == True]
    res1 = res.pivot(index=None, columns="MO", values="COUNT")
    res2 = res.pivot(index=None, columns="MO", values="LOT")
    res1.replace(np.nan, 0, inplace=True)
    res2.replace(np.nan, 0, inplace=True)
    res1 = pd.DataFrame(res1.sum())
    res2 = pd.DataFrame(res2.sum())
    res1.columns = [loc]
    res2.columns = [loc]
    counts.append(res1.T)
    lots.append(res2.T)

In [12]:
res_counts = pd.concat(counts)
res_lots = pd.concat(lots)

In [13]:
res_counts.fillna(0, inplace=True)
res_lots.fillna(0, inplace=True)

In [14]:
res_lots

MO,CFORETS,DCUL,DEP,DEW,DRE,DAL,DJS,DSP,DTR,DENVI,DFP,DSA,DUAC,DCOM,DTP,DTMA,DIMP,DPCIV,DIM,DAS
AIN-SOLTANE,8900000,12222222,5233333,1350000,166666667,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
AIN-ZANA,114503968,12222222,386894144,0,202087801,255333333,299900000,2857143,20000000,0,0,0,0,0,0,0,0,0,0,0
BIR-BOUHOUCH,27750000,0,106017530,625000,293027195,106000000,3333333,0,0,130000000,29233333,23000000,382266667,0,0,0,0,0,0,0
DREA,34551111,12222222,187446569,23458333,123611111,0,61960000,0,0,0,85476190,0,0,0,0,0,0,0,0,0
HEDDADA,37150000,12222222,1533718784,3333333,429636364,442333333,67357143,0,20000000,0,279517857,0,0,45000000,533333333,0,0,0,0,0
HENANCHA,82694444,12222222,580156697,33433333,897554468,50000000,85000000,215150000,0,0,0,0,0,0,83333333,0,0,0,0,0
KHEDARA,36301111,12222222,374804978,0,462087801,0,3333333,18750000,0,0,91000000,0,0,0,183333333,0,0,0,0,0
KHEMISSA,12411429,85222222,19003462,0,145454545,0,1960000,0,0,0,0,0,0,0,0,100000000,0,0,0,0
M'DAOUROUCH,31638095,0,3295790277,48858333,521921134,55700000,784820476,624000000,106000000,130000000,667892857,26500000,0,0,0,5000000,215500000,0,0,0
MACHROHA,60737302,12222222,1807626405,44408333,313754468,26000000,190293333,0,2416000,0,413917857,0,0,0,173333333,12000000,0,0,0,0
MERAHNA,1500000,12222222,196564978,51158333,286693862,108000000,10690476,2857143,0,0,79400000,0,0,0,533333333,0,166389000,0,0,0
OUED-KEBRIT,12900000,0,622612478,12000000,119065657,0,8086000,0,0,0,169517857,0,0,0,0,0,0,0,0,0
OUILLEN,49332540,12222222,151149295,13533333,144444444,0,26333333,2857143,0,0,0,0,0,0,0,0,0,0,0,0
OULED-DRISS,16238095,12222222,75991208,22358333,189747475,182000000,7357143,0,0,0,19892857,0,0,0,90000000,205000000,0,0,0,0
OULED-MOUMEN,46932540,12222222,425912500,10000000,425693862,1155000000,8086000,150000000,0,0,0,0,0,0,83333333,0,0,120000000,0,0
OUM-LAADHAIM,7666667,0,3358728439,10000000,236111111,0,85293333,170857143,104000000,0,25900000,0,166666667,0,190000000,0,0,0,0,0
RAGOUBA,19821429,12222222,439424295,13533333,220454545,0,8086000,0,0,0,0,0,0,0,0,0,0,0,0,0
SEDRATA,1500000,290000000,2902902314,58283333,1784693862,173720000,631315476,163107143,0,0,586410714,0,0,30000000,100000000,0,171000000,0,55000000,0
SEF-EL-OUIDEN,0,0,39557576,0,286643357,0,0,73000000,0,0,0,0,0,0,273333333,0,0,0,0,0
SIDI-FREDJ,22816667,0,419436773,13533333,431565657,175333333,1960000,0,0,0,99994048,0,0,0,273333333,0,0,0,0,0
SOUK-AHRAS,97150000,2554622222,24414988314,105083333,2356666667,3785200000,543306476,3989700000,879167000,150000000,907144048,46000000,3000000000,0,833333333,72000000,0,0,3000000,10400000
TAOURA,54988095,12222222,1901290072,21583333,309875680,0,177357143,1873857143,0,0,74517857,0,166666667,0,0,250000000,0,0,0,0
TERREGUELT,30090000,0,176325030,22000000,223181818,0,5293333,88000000,0,0,88809524,0,0,0,0,0,0,0,0,0
TIFFECH,53153968,12222222,21574978,32708333,170181818,0,3333333,18750000,0,0,0,0,0,0,0,0,0,0,0,0
ZAAROURIA,42951111,12222222,113270405,23408333,203905983,50000000,1960000,0,0,0,410000000,0,0,0,100000000,4500000,0,0,0,0
ZOUABI,21071429,12222222,24199167,0,344572650,0,3333333,2857143,0,0,0,0,0,0,0,0,0,0,0,0